body {
    font-size: 16px;
    color: #fff;
    background-color: #61122F;
    font-family: 'Oxygen' , sans-serif;
}

#header-nav{
    background-color: #f0d90a;
    border-radius: 0;
    border:0;
}

#logo-img{
    background: url('../images/res-logo2.png') no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

#logocert {
    height: 50px;
    width: 50px;
    /*margin: top rigth bottom left*/
    margin: 10px 0px 0px 0px ;
}

.navbar-brand{
    padding-top: 25px;
}

.navbar-brand h1 { /* Titulo del Restaurante*/
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus , .navbar-brand a:any-link{
    text-decoration: none;
}

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span{
    vertical-align: middle;
}

.bi-whatsapp {
    font-size: 40px;
    color: greenyellow;
}